<!-- 
<table class="table-class">
    <tbody>
        <tr>
            <td class="col-4">
                <div >
                    <app-audio-file-upload></app-audio-file-upload>
                    <app-audio-file-augment-type></app-audio-file-augment-type>
                </div>
            </td>
            <td class="col-8">
                <div>
                    <app-audio-file-display></app-audio-file-display>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->
